/* Monospace Fonts for countdown selector */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

#delete_logo_button {
    background-image: url("../img/delete-icon.png"); /* Change url to wanted image */
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: transparent;
}
#delete_background_button {
    background-image: url("../img/delete-icon.png"); /* Change url to wanted image */
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: transparent;
}
.tab-content {
    background-color: #fff;
    margin-top: -0px;
    padding: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.tab-content .tab-pane {
    padding: 15px;
}
.tab-content .tab-pane .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.roberto-mono {
    font-family: 'Roboto Mono', monospace;
}
.share-tech-mono {
    font-family: 'Share Tech Mono', monospace;
}
.nova-mono {
    font-family: 'Nova Mono', monospace;
}
.fira-mono {
    font-family: 'Fira Mono', monospace;
}

@media (max-width: 480px) {
    .bootstrap-wrapper .nav-tabs > li {
        float:none;
        margin-bottom: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .bootstrap-wrapper .nav-tabs > li.active > a {
        border: 1px solid #dddddd;
    }
    .bootstrap-wrapper .nav-tabs > li.active > a:hover {
        border: 1px solid #dddddd;
    }
    .bootstrap-wrapper .nav-tabs > li  > a {
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
    }
    .bootstrap-wrapper .nav-tabs > li > a:hover {
        border-color: #dddddd;
    }
}