/* Interactive_bg styles */
.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; }
.bg {
    position: fixed;
    height: 100% !important;
    width: 100%;
    z-index: 0; }
.ibg-bg {
    position: fixed;
    z-index: 0; }

/* Generic template styles */

.image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: url(../img/wall.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1; }
.center-wrapper {
    position: fixed;
    width: 40vw;
    height: 60vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #333333;
    color: #ffffff;
    z-index: 1; }
.center-wrapper .logo {
    margin: 0px;
    text-align: center;
    margin-top: 1.8rem;
    padding-bottom: 0;
    height: 20%; /* fix for IE */ }
.center-wrapper .logo img {
    width: auto;
    height: 8rem;
    padding: 0px;
    margin: 0px; }
.center-wrapper .logo img {
    opacity: 0.3;
    transition: opacity 0.5s; }
.center-wrapper .logo img:hover {
    cursor: pointer;
    opacity: 0.9; }
.center-wrapper .row {
    text-align: center !important;
    margin-top: 0px; }
.center-wrapper .text {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0.8;
    font-size: 1.3em; }
.center-wrapper .time {
    background-color: #444;
    margin-top: .8em;
    font-size: 2.8em;
    margin-right: 1px;
    opacity: 0.9;
    line-height: 0.8em;
    padding-top: 0.5em; }
.center-wrapper .time .time-type {
    opacity: 0.8;
    font-size: .2em; }

/* Form input styles */
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important; }
.left-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important; }
.right-radius {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important; }
.center-wrapper .form-group {
    opacity: 0.3;
    transition: opacity 0.5s; }
.center-wrapper .input-group-addon {
    color: #fff;
    background-color: #444;
    border-color: #444; }
.center-wrapper .btn-primary {
    background-color: #444;
    border-color: #444;
    transition: background-color 0.3s; }
.center-wrapper .btn-primary:hover {
    background-color: #777;
    border-color: #777; }

/* Social Media Icons */
.center-wrapper .social-media {
    color: #fff;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
.center-wrapper .social-media a {
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.3s; }
.center-wrapper .social-media a:hover {
    opacity: 1; }

/* Form error styles */
.error {
    color: red;
    font-weight: bold; }
.success {
    color: green; }

/* Centre panel hover */
.center-wrapper:hover img {
    opacity: 0.9; }
.center-wrapper:hover .form-group {
    opacity: 1; }
.center-wrapper:hover .social-media {
    opacity: 0.7; }

@media (max-width: 1024px) {
    .center-wrapper {
        height: 68%;
    }
    .center-wrapper .text {
        font-size: 1em;
    }
}